@page "/"
@inject Blazored.LocalStorage.ILocalStorageService localStorage





<h1>Hello, Azure Maps Creator creator!</h1>

Welcome to the Azure Maps Creator app. Follow the steps below in order to generate a private indoor map

<ol>
	<li>Upload the floor plans<br /> (Currently only works with this <a href='https://github.com/Azure-Samples/am-creator-indoor-data-examples/blob/master/Sample%20-%20Contoso%20Drawing%20Package.zip'>Sample Drawing Package</a>)</li>
	<li>Convert them to map data</li>
	<li>Create a collection of map features (Dataset)</li>
	<li>Create a set of vector tiles that render on the map</li>
	<li>Run queries on the dataset</li>
	<li>Create a dynamic property and values on specific features that support them (Occupancy of a room)</li>
</ol>






