@page "/ListStatesetsPage"
@inherits PageBase<StatesetInfoObject>
@using BlazorMapsCreator.Models

<h3>Feature statesets</h3>

@if (itemList != null)
{
    <div data-is-scrollable="true" style="height:300px;overflow-y:auto; width:100%">
        <DetailsList ItemsSource="itemList"
                     Columns="Columns"
                     GetKey=@(item=>item.statesetId)
                     LayoutMode="DetailsListLayoutMode.Justified"
                     TItem="StatesetInfoObject"
                     OnItemInvoked="OnClick"
                     Selection="Selection"
                     SelectionMode="SelectionMode.Multiple">
        </DetailsList>
    </div>

    <Stack Horizontal="true" Tokens=@(new StackTokens() { ChildrenGap = new[] { 40.0 } }) Style="margin-top:25px; margin-bottom:25px; width:100%;">
        <StackItem>
            <DefaultButton @onclick="Delete" Disabled="Selection.Count==0">Delete</DefaultButton>
        </StackItem>
        <StackItem>
            <DefaultButton @onclick="Get" Disabled="Selection.Count!=1">Get</DefaultButton>
        </StackItem>
    </Stack>
}
else
{
    <p>No 'feature statesets' found!</p>
}
<hr />
<p>@details</p>
@foreach (string message in messages)
{
    <MessageBar MessageBarType="MessageBarType.Success">@message</MessageBar>
}


