@page "/ListDataPage"
@inherits BasePage<MapDataDetailInfo>
@using BlazorMapsCreator.Models

<h3>Uploaded data</h3>

@if (itemList != null)
{
    <div data-is-scrollable="true" style="height:300px;overflow-y:auto; width:100%">
        <DetailsList ItemsSource="itemList"
                 Columns="Columns"
                 GetKey=@(item=>item.udid)
                 LayoutMode="DetailsListLayoutMode.Justified"
                 TItem="MapDataDetailInfo"
                 OnItemInvoked="OnClick"
                 Selection="Selection"
                 SelectionMode="SelectionMode.Multiple">
        </DetailsList>
    </div>

    <Stack Horizontal="true" Tokens=@(new StackTokens() { ChildrenGap = new[] { 40.0 } }) Style="margin-top:25px; margin-bottom:25px; width:100%;">
        <StackItem>
            <DefaultButton @onclick="Delete" Disabled="Selection.Count==0">Delete</DefaultButton>
        </StackItem>
        <StackItem>
            <DefaultButton @onclick="Get" Disabled="GetDisabled">Get info</DefaultButton>
        </StackItem>
        <StackItem>
            @if (!string.IsNullOrEmpty(DownloadLink))
            {
                <a download href="@DownloadLink">Download</a>
            }
        </StackItem>
    </Stack>
}
else
{
    <p>No 'uploaded data' found!</p>
}
<hr />
<p>@details</p>
@foreach (string error in errors)
{
    <MessageBar MessageBarType="MessageBarType.Error">@error</MessageBar>
}
@foreach (string message in messages)
{
    <MessageBar MessageBarType="MessageBarType.Success">@message</MessageBar>
}

